<div class="fixedTopRight"><a href="Logout">Logout</a></div>
@using WeddingPlanner.Models
@model List<Wedding>
  <div class="wrapper">
<h1>Welcome to the Wedding Planner</h1>
<div class="dividerArea"></div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Wedding</th>
      <th scope="col">Date</th>
      <th scope="col">Guests</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    @foreach(var e in Model)
    {
      <tr>
        <th scope="row"> <a href="/DisplayWedding/@e.WeddingId">@e.PersonOne & @e.PersonTwo</a> </th>
        <td>@e.EventDate</td>
        <td>@e.Guests.Count</td>
        <td><a href="/Dashboard/@e.ActionName/@e.WeddingId">@e.ActionName</a></td>
      </tr>
    }
  </tbody>
</table>
<a class="btn btn-primary btn-lg active fixedBottomRight" role="button" aria-pressed="true" href="/AddWedding">New Wedding</a>
<div class="dividerArea"></div>
</div>